<table>
<tr *nfIf="!suscriptores.lenght">
    <td colspan="3">Sin resultados</td>
</tr>
</table>


<mat-form-field appearance="name">
    <mat-label>Name</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Seleccione un taller al que suscribirse</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="email">
    <mat-label>Email</mat-label>
    <input matInput>
</mat-form-field>

<table>
<tr *ngFor="let suscriptor of suscriptores; let s= suscriptor">
    <td>#{{s}}</td>
    <td>Nombre</td>
    <td>{{suscriptor.nombre}}</td>
    <td>{{suscriptor.taller}}</td>
    <td>
        <button (click)="eliminarsuscriptor(s)">Eliminar Suscriptor</button>
    </td>
    <td>
        <button (click)="crearsuscriptor(s)">Crear Suscriptor</button>
    </td>
</tr>
</table>
