
<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]= "suscriptor.nombre">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Seleccione un taller al que suscribirse</mat-label>
  <mat-select [(ngModel)]= "suscriptor.taller">
    <mat-option value="one">Taller de lectura</mat-option>
    <mat-option value="two">Taller de escritura</mat-option>
    <mat-option value="three">Curso para correctores</mat-option>
    <mat-option value="four">Curso para editores</mat-option>
    <mat-option value="five">Curso para diseñadores</mat-option>
    <mat-option value="six">Taller de publicación</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="suscriptor.email">
</mat-form-field>
<button (click)="crearsuscriptor()">Crear Suscriptor</button>

<table>
    
    <tr *ngIf="!suscriptores?.length">
        <td colspan="5">Sin resultados</td>
    </tr>
    

<tr *ngFor="let suscriptor of suscriptores; let idx= index">
    <td>#{{idx}}</td>
    <td>{{suscriptor.id}}</td>
    <td>{{suscriptor.nombre}}</td>
    <td>{{suscriptor.taller}}</td>
    <td>
        <button (click)="eliminarsuscriptor(suscriptor.id)">Eliminar Suscriptor</button>
    </td>
</tr>
</table>
