<h1>Libros recomendados de la semana</h1>

<div *ngIf="libros" style="display: flex; flex-wrap: wrap;  flex-direction: row">

        <mat-card  *ngFor="let libro of libros" style="width: 40%; margin: 10px">
          <mat-card-header>
            <div mat-card-avatar class="image"></div>
            <mat-card-title>{{ libro.title }}</mat-card-title>
            <mat-card-subtitle>{{ libro.subtitle }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="libro.image">
          <mat-card-content>
            <p>SINOPSIS:</p>
            <p>{{ libro.sinopsis }}</p>
          </mat-card-content>
        </mat-card>
        
</div>

<button (click)="navigate(['/', 'home'])">Back</button>