<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu ">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Proyecto Escritora</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigate(['/', 'libros'])">
      <mat-icon>LI</mat-icon>
      <span>Libros recomendados</span>
    </button>
    <button mat-menu-item (click)="navigate(['/', 'talleres'])">
      <mat-icon>T</mat-icon>
      <span>Talleres y Cursos</span>
    </button>
    <button mat-menu-item (click)="navigate(['/', 'editoriales'])">
      <mat-icon>E</mat-icon>
      <span>Editoriales Sugeridas</span>
    </button>
    <button mat-menu-item (click)="navigate(['/', 'servicios'])">
      <mat-icon>S</mat-icon>
      <span>Servicios Editoriales</span>
    </button>
    <button mat-menu-item (click)="navigate(['/', 'tarifas'])">
      <mat-icon>TA</mat-icon>
      <span>Tarifas de Edición</span>
    </button>
    <button mat-menu-item (click)="navigate(['/', 'agentes'])">
      <mat-icon>AG</mat-icon>
      <span>Agentes Literarios</span>
    </button>
</mat-menu>

<router-outlet></router-outlet>
