<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu ">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Proyecto Escritora</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>LI</mat-icon>
      <span>Libros recomendados</span>
    </button>
    <button mat-menu-item>
      <mat-icon>T</mat-icon>
      <span>Talleres y Cursos</span>
    </button>
    <button mat-menu-item>
      <mat-icon>E</mat-icon>
      <span>Editoriales Sugeridas</span>
    </button>
    <button mat-menu-item>
      <mat-icon>S</mat-icon>
      <span>Servicios Editoriales</span>
    </button>
    <button mat-menu-item>
      <mat-icon>TA</mat-icon>
      <span>Tarifas de Edición</span>
    </button>
    <button mat-menu-item>
      <mat-icon>AG</mat-icon>
      <span>Agentes Literarios</span>
    </button>
  </mat-menu>
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side">
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <h1>Géneros</h1>   
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-grid-list cols="1">
      <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="image"></div>
              <mat-card-title>Para amantes de los libros</mat-card-title>
              <mat-card-subtitle>y para los escritores</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://usscl.blob.core.windows.net/upload/sites/8/2017/05/libro.jpg" alt="Foto de corazón">
            <mat-card-content>
              <p>Si estás buscando una página donde encontrar sugerencias de libros, o quieres escribir y publicar el tuyo propio, esto es para ti.
                ¡Disfruta del viaje!</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
<router-outlet></router-outlet>
