<h1>Agentes literarios de interés</h1>

<div *ngIf="agentes" style="display: flex; flex-wrap: wrap;  flex-direction: row">

    <mat-card  *ngFor="let agente of agentes" style="width: 40%; margin: 10px">
        <mat-card-header>
          <div mat-card-avatar class="image"></div>
          <mat-card-title>{{ agente.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ agente.telefono }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a href="mailto: {{agente.email}}"><span><em>Contacto por correo</em></span></a>
        </mat-card-content>
      </mat-card>

</div>

<button (click)="navigate(['/', 'home'])">Back</button>
